header{
    width:100%;
    height: 74px;
    background: white;
    border-bottom: 1px solid #efccb2;
}
#logo{
    background-image: url('../../_assets/img/logo.png');
    background-repeat: no-repeat;
    display:block;
    height:75px;
}
#logo a{
    display:block;
    height:75px;
}
.navigation{
    height: 53px;
    padding-top: 22px;
}
.nav-pills > li > a{
    color:white;
    background: #efccb2;
    width:80px;
    height: 23px;
    font-size: 17px;
    text-align: center;
    vertical-align: central;
    padding: 0;
    padding-top: 7px;
    margin-right: 8px;
}
.nav-pills > li > a:hover{
    color:white;
    background: #7f6552;
}

footer{
    padding-top: 40px;
    padding-bottom: 50px;
    width: 100%;
    background-color: white;
    position: relative;
    margin-top: -232px;
    clear:both;
    height: 142px;
}

.img-me{
    margin-top: 15px;
    width: 105px;
    height:105px;
}
footer p{
    font-size: 18px;
    line-height: 24px;
}

.center{
    text-align: center;
    margin-bottom: 40px;
}

h1{
    font-family: 'PT Sans Narrow', sans-serif;
}
.firstblock{
    margin-top: 55px;
}
.lead-push{
    margin-top: 25px;
}
.buttons-push{
    margin-top: 58px;
}
.content-pill{
    display: inline-block;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    background: #EFCCB2;
    width: 85px;
    height: 23px;
    font-size: 17px;
    text-align: center;
    vertical-align: central;
    padding: 3px 0 0;
    margin-right: 20px;
}

.content-pill:hover {
    color: #FFF;
    background: #7F6552;
    text-decoration: none;
}

.line{
    border: none;
    border-top: 1px solid #EFCCB2;
    margin: 50px 0;
}

.form-field{
    margin-bottom: 10px !important;
}

/*LOGIN PAGE*/
#login-img{
    display:block;
    width: 100%;
    
}
#login{
    padding-left: 10px;
}
/*REGISTER PAGE*/

#register input:not([type='radio']), #forgot input{
    display: block;
}

#register textarea{
    resize:none;
    height: 200px;
}

/* PROFILE PAGE */
.img-profile{
    width: 105px;
}
.breath-bottom{
    margin-bottom: 70px;
}
.btn-answers{
    margin-top: 90px;
    margin-bottom: 100px;
}
/* USERS PAGE */
.btn-bottom-users{
    margin-top: 20px;
}
.user{
    margin-bottom: 30px;
}

/* ANSWERS PAGE */
.question{
    height: 300px;
}



#gmap{
    width: 100%;
    height: 500px;
}
#map_span img { max-width: none; }